body {
  font-family: "Philosopher", sans-serif;
}

.container {
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 3px 3px 6px black;
  margin-bottom: 0.75rem;
  padding-bottom: 0.75rem;
}

h1,
h3 {
  text-decoration: underline;
}

ul,
li {
  text-align: left;
}

button {
  margin-bottom: 0.75rem;
}

code {
  color: #ff3e00;
  background-color: #d3d3d3;
}
